body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: url('https://4.bp.blogspot.com/-O40jtz4U6t4/T4Vks5kwTUI/AAAAAAAACAE/Aw6Bl4hk72E/s1600/MVC-016F.JPG') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 10px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
